!!!
%html
  %head
    %title Protonet App Market
    
    :css
      body { margin: 0; padding: 15px; }
      
      a {
        text-decoration: none;
      }
      
      .repos {
        list-style: none;
        padding: 0;
        margin: 0 0 15px 0;
        background: #ccc;
      }
      .repos li {
        display: inline-block;
      }
      .repos a {
        display: block;
        padding: 15px;
        border-right: 1px solid #fff;
        font-size: 125%;
        color: black;
      }
      .repos a:hover {
        background: #eee;
      }
      .repos a.active {
        font-weight: bold;
        background: #bbb;
      }
      
      .wrapper img {
        float: left;
        margin-right: 10px;
      }
      .wrapper { border-bottom: 1px solid black; min-height: 64px; }
      
      .app {
        width: 400px;
        display: block;
        float: left;
        min-height: 55px;
        margin: 5px;
        padding: 10px;
      }
      .app img {
        float: left;
        margin-right: 10px;
      }
      h1, .app h3, h4 {
        display: inline-block;
      }
      h4 { padding-left: 10px; font-weight: normal; }
      h1, h3, h4, p {
        margin: 0;
      }
      
      .app:hover {
        background: #eee;
      }
      
      #home a {
        background: url(/store.png) no-repeat left;
        padding-left: 63px;
      }
      
      .wrapper { padding: 15px; }
      
      .details {
        text-indent: -9999px;
        display: block;
        width: 48px;
        height: 48px;
        float: right;
        background: url(/next.png) no-repeat;
        opacity: 0.1;
        margin-left: 10px;
      }
      .app:hover .details {
        opacity: 0.8;
      }
      .installed .details {
        background-image: url(/check.png);
      }
      
      .status { text-align: right; }
  %body
    /
      %p
        Debug info: you are user
        = env['HTTP_X_USER_ID'].to_i

    -#
      %ul.repos
        %li{:id => 'home'}>
          %a{:href => "/"}
            App Market
        - @repos.each do |repo|
          %li>
            %a{:href => "/#{repo[:id]}", :class => (repo == @repo) && 'active'}= h(repo[:data]['title'])
        %li>
          %a{:href => "/new"} Other...
    
    - @repos.each_pair do |(rid, repo)|
      .wrapper
        %img{:src => icon_url(repo, 'normal')}
        %h1= h(repo['title'])
        %h4
          by
          %a{:href => repo['author']['homepage']}= h(repo['author']['name'])
        %p
          = h(repo['description'])
        %p
          %a{:href => repo['homepage']} more info...
    
      - repo['apps'].each do |app|
        .app{:class => (app['installed'] && 'installed')}
          %a{:href => "/#{rid}/#{app['name']}", :class => 'details'} details
          %img{:src => icon_url(app)}
          %h3
            %a{:href => "/#{rid}/#{app['name']}"}= h(app['title'])
          %h4
            by
            %a{:href => app['author']['homepage']}= h(app['author']['name'])
          %p= h(app['description'])
          - if app['installed']
            %p.status Installed
